In [1]:
import pandas as pd

In [7]:
pd.read_csv("/home/user474/Storage_Root/Education/Illinois/04-STAT_420_Statistical_Modeling_in_R/Project/ebd-datafile-SAMPLE/Protocols.txt")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 5, saw 4

In [9]:
from Inc_table_parser import WeatherDB, CoastDistFinder

In [12]:
WeatherDB().get_all_weather_data(33.1559565, -87.633699, "2025-03-01")

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,"33.1559565, -87.633699",2025-03-01,71,38.1,54,71,38.1,53.8,31,48.9,...,14.1,8,NaN,2025-03-01T06:18:11,2025-03-01T17:47:55,0.06,Clear,Clear conditions throughout the day.,clear-day,"D1375,KTCL,99999973801,72050799999,USW00093806..."